<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="canonical" href="https://bytes.jikids.org"/>
		<meta name="description" content="A taste of Jewish learning for your kids for an hour a day!">
        <meta name="image" content="{{PathUi}}/ji-bytes-social.png">
        <meta itemprop="name" content="Ji Bytes">
        <meta itemprop="description" content="A taste of Jewish learning for your kids for an hour a day!">
        <meta itemprop="image" content="{{PathUi}}/ji-bytes-social.png">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Ji Bytes">
        <meta name="twitter:description" content="A taste of Jewish learning for your kids for an hour a day!">
        <meta name="twitter:image:src" content="{{PathUi}}/ji-bytes-social.png">
        <meta property="og:title" content="Ji Bytes">
        <meta property="og:description" content="A taste of Jewish learning for your kids for an hour a day!">
        <meta property="og:image" content="{{PathUi}}/ji-bytes-social.png">
        <meta property="og:url" content="https://bytes.jikids.org">
        <meta property="og:site_name" content="Ji Bytes">
        <meta property="og:type" content="website">

        <title>Ji Bytes</title>

        {{#if local_dev}}
            <script src="/js/reload.js"></script>
        {{/if}}
        <link href="/css/home.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        {{#if (not local_dev)}}
            {{>facebook-pixel}}
        {{/if}}
    </head>
    <body>
        {{#if (not local_dev)}}
            {{>google-analytics}}
        {{/if}}
        <div class="donate">
            <span>
                Enjoying using Ji? 
                Help us continue to help you. 
                We are a nonprofit. 
                <a href="https://www.jewishinteractive.org/donate-to-ji-coronavirus/" target="_blank">Please click here to donate.</a>
            </span>
        </div>
        <main class="home">
            <header>
                <a href="/">
                    <div class="logo">
                        <img src="{{PathUi}}/top-header-logo.svg" />
                        <div class="byline">
                            A taste of Jewish learning for your kids for an hour a day!
                        </div>
                    </div>
                </a>
                <div class="header-line"></div>
                <div class="right">
                    <a href="/help" {{#if (eq page "help")}}class="selected"{{/if}}>
                        <div class="circle">
                            <img class="help" src="{{PathUi}}/top-header-help.svg" />
                        </div>
                        <div class="label">Help</div>
                    </a>
                    <a href="/partners" {{#if (eq page "partners")}}class="selected"{{/if}}>
                        <div>
                            <img class="partners" src="{{PathUi}}/top-header-partners{{#if (eq page "partners")}}-selected{{/if}}.svg" />
                            <div class="label">Partners</div>
                        </div>
                    </a>
                    <a href="https://www.jewishinteractive.org/kids-learning-at-home" target="_blank">
                        <img class="home" src="{{PathUi}}/top-header-home.svg" />
                        <div class="label home-offset">Home Learning</div>
                    </a>
                </div>
            </header>
            <div>
                {{#if (eq page "help")}}
                    {{> home-help}}
                {{/if}}
                {{#if (eq page "partners")}}
                    {{> home-partners}}
                {{/if}}
                {{#if (eq page "topics")}}
                    {{> home-topics}}
                {{/if}}
            </div>
            <div class="home-footer">
                <div>
                    Copyright {{year}} Jewish Interactive Inc | All Rights Reserved
                </div>
                <div>
                    <a href="https://www.jewishinteractive.org/privacy-policy/" target="_blank">Privacy Policy</a>
                </div>
                <div>
                    <a href="https://www.jewishinteractive.org/terms-and-conditions/" target="_blank">Terms & Conditions</a> 
                </div>
                <div>
                    <a href="https://www.jewishinteractive.org/jewish-interactive-child-protection-policy/" target="_blank">Child Protection Policy</a>
                </div>
            </div>
            <div id="signup" class="visible">
                <div>
                    <a href="https://share.hsforms.com/1p8ZRFmUCS-ijx6_QyHrTUw1kii1" target=_blank>
                        <img class="bg" src="{{PathUi}}/bottom-footer-signup.svg" />
                    </a>
                    <div id="signup_close_btn" class="close">
                        <img src="{{PathUi}}/bottom-footer-signup-close.svg" />
                    </div>
                </div>
            </div>

        </main>
        <script src="/js/home.js"></script>
    </body>
</html>